[Unit]
Description=Prysm Beacon Chain
After=network.targeti
Before=validator.service
StartLimitIntervalsec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=prysm
WorkingDirectory=/opt/prysm/
ExecStart= /opt/prysm/prysm.sh --p2p-host-ip=$(curl -a v4.ident.me)  --config-file=/opt/prysm/config.yml

[Install]
WantedBy=multi-user.target
